<article>
<div class="container">
  <ul class="row">
    <li class="col-md-4"><img src="/topimage.jpg" alt="Image"></li>
    <li class="col-md-4">どんなサービス？</li>
    <li class="col-md-4">私はだれ？</li>
  </ul>
  <hr>
  <ul class="row">
    <% if logged_in? %>
        <li class="col-md-6"><%= link_to "ブログをみる", posts_path ,class:"btn btn-success" %></li>
        <li class="col-md-6"><%= link_to "別サービスをみる", posts_path ,class:"btn btn-success" %></li>
    <% else %>
        <li class="col-md-6"><%= link_to "メンバー登録", new_user_path ,class:"btn btn-primary"%></li>
        <li class="col-md-6"><%= link_to "ログイン", new_session_path ,class:"btn btn-danger"%></li>
    <% end %>
  </ul>
</div>
</article>
