<article>
<div class="container">
  <ul class="row">
    <li class="col-md-4"><img src="/topimage.jpg" alt="Image"></li>
    <li class="col-md-4">どんなサービス？</li>
    <li class="col-md-4">私はだれ？</li>
  </ul>
  <hr>
  <ul class="row">
    <li class="col-md-6"><a href=# class="btn btn-primary">ログイン</a></li>
    <li class="col-md-6"><a href=# class="btn btn-danger">メンバー登録</a></li>
</div>
</article>
